<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title> todo 列表</title>
    <!--react.min.js - React 的核心库-->
    <script src="https://cdn.staticfile.org/react/16.6.0/umd/react.development.js"></script>
    <!---react-dom.min.js - 提供与 DOM 相关的功能-->
    <script src="https://cdn.staticfile.org/react-dom/16.6.0/umd/react-dom.development.js"></script>
    <!--babel.min.js - Babel 可以将 ES6 代码转为 ES5 代码，这样我们就能在目前不支持 ES6 浏览器上执行 React 代码。
    Babel 内嵌了对 JSX 的支持。通过将 Babel 和 babel-sublime 包（package）一同使用可以让源码的语法渲染上升到一个全新的水平-->
    <script src="https://cdn.staticfile.org/babel-standalone/6.26.0/babel.min.js"></script>
    <script src="https://cdn.staticfile.org/prop-types/15.6.2/prop-types.js"></script>

</head>


<body>

<div id='example'></div>
<script type="text/babel">


    /*
     * 功能: 组件化实现此功能
     1. 显示所有 todo 列表
     2. 输入文本, 点击按钮显示到列表的首位, 并清除输入的文本
     */

    /*
    * 问题1：数据保存在哪个组件中
    * 看数据是某个组件需要（给它），还是某些组件需要(给共同的组件)
    * 问题2：需要子组件改变父组件的状态
    *        子组件不能直接改变父组件的状态
    *  状态在哪个组件，更新状态的行为应该定义在哪个组件
    *  解决方案：父组件定义函数，传递给子组件，子组件调用
    *
    * 组件化编写功能的流程
    * 1、拆分组件
    * 2、实现静态组件（只有静态界面，没有动态数据和交互）
    * 3、实现动态组件：
    *    1)实现初始化数据动态显示
    *    2)实现交互功能
    *
    */


    class App extends React.Component {
        constructor(props) {
            super(props);
            this.state = {
                todos: ['吃饭', '上班', '撸代码']

            };
            this.addTodo = this.addTodo.bind(this);
        }

        addTodo(todo) {
            // 不能这样做
            //this.state.todos.unshift(todo)
            const {todos} = this.state;
            todos.unshift(todo);
            //更新状态
            this.setState({todos})
        }

        render() {
            const {todos} = this.state;
            return (
                <div>
                    <h2>Simple TODO List</h2>
                    <Add count={todos.length} addTodo={this.addTodo}/>
                    <List todos={todos}/>
                </div>

            )
        }
    }

    class Add extends React.Component {
        constructor(props) {
            super(props);
            this.add = this.add.bind(this);
        }

        add() {
            //1、读取输入的数据
            const todo = this.todoInput.value.trim();
            //2、检查合法性
            if (!todo) {
                return;
            }
            //3、添加
            this.props.addTodo(todo);
            //4、清除输入
            this.todoInput.value = '';

        }

        render() {

            return (
                <div>
                    <!--组件内的标签都可以定义 ref 属性来标识自己-->
                    <input type="text" ref={input => this.todoInput = input}/>
                    <button onClick={this.add}>Add #{this.props.count + 1}</button>
                </div>
            );
            Add.PropTypes = {
                count: PropTypes.number.isRequired,
                addTodo: PropTypes.func.isRequired
            }
        }
    }

    class List extends React.Component {
        render() {
            const {todos} = this.props;
            return (
                <div>
                    <ul>
                        {
                            todos.map((todo, index) => <li key={index}>{todo}</li>)
                        }
                    </ul>

                </div>

            );
            //指定属性
            List.PropTypes = {
                todos: PropTypes.array.isRequired
            };
        }


    }

    ReactDOM.render(<App/>, document.getElementById('example'))

</script>
</body>
</html>